@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* * {
  border: 2px solid red;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;

  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: #fff;
  --text-color: #fff;
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #2E4057;
  --hover-color: #EA526F;
  --secondary-color: #339989;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: 72px;
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
/* 


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--container-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: #ffffff;
  font-weight: 600;
}

.nav__logo:hover {
  color: var(--hover-color);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  color: #ffffff;
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
  display: none; /*minimalist design, hidden labels*/
}

.nav__icon {
  font-size: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

#home {
  height: auto;
  width: auto;
}

#Services {
  height: auto;
  width: auto;
}

#ContactUs {
  height: auto;
  width: auto;
}

.servContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  flex-direction: column;
}

.servContainer h2 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 40px;
}

.servContainer p {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 25px;
}


/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {
    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem); /*4.5rem*/
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
    display: block; /*Minimalist Design, visible labels*/
  }

  .nav__link:hover {
    color: var(--hover-color);
  }
}

/*Minimalist Design*/
.active-link::before {
  bottom: -0.75rem;
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Image Spacing/Movement */

.stockImgs {
  justify-content: center;
  width: 30%;
  height: 30%;
  border-radius: 12px;
  padding-bottom: 5rem;
}



/* Image Text Spacing/Movement */
.tark1Text {
  text-align: left;
  justify-content: space-around;
}

/* Page Coloring */

.PageColor {
  background-color: var(--container-color);
  overflow-y: hidden;
}

/* Button Customisation */

.buyButton {
  background-color: #006E90;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 12px;
  color: black;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  padding: 15px 32px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

/* updateService Buttons */
.refId button {
  cursor: pointer;
  padding: 2rem;
  margin: 2rem;
  border-radius: 12rem;
}

.refId button:hover {
  color: white;
  background-color: var(--hover-color);
}

/* Services Form */

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
  font-size: var(--normal-font-size);
}

select {
  cursor: pointer;
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 12px;
  background-color: white;
}

.subButton {
  cursor: pointer;
  padding: 2rem;
  margin: 2rem;
  border-radius: 12rem;
}

.subButton:hover {
  color: white;
  background-color: var(--hover-color);
}
/* Contact Info Styling */

.contactInfo h2 {
  font-size: 30px;
}

.contactInfo li {
  padding-top: 2rem;
}

.contactInfo p {
  font-style: italic;
}

/* Home Section Styling */

.homePage h2 {
  font-size: 40px;
  padding-bottom: 8rem;
}
 

/* Service Section Styling */

.servicePage label {
  font-size: 40px;
}

/* Update Service Styling */

/* Footer Styling  */
footer {
  background-color: var(--secondary-color);
}

.footer_container {
  row-gap: 3.5rem;
}

.footer_title {
  color: #ffffff;
  padding-top: 1rem;
}

.footer_subtitle {
  color: #ffffff;
  font-size: 18px;
}

.footer_socials {
  text-align: right;
  padding-right: 2rem;
}

.footer_social {
  color: #ffffff;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
  margin-right: 1.5rem;
}

.footer_socials a:hover {
  color: var(--hover-color);
}

